In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

# XML 파일 경로
xml_file_path = "book.xml"

# XML 파일 읽기
tree = ET.parse(xml_file_path)

# 루투 요소 가져오기
root = tree.getroot()

# 특정 요소 목록 가져오기
elements = root.findall('book')

# DataFrame 생성
df = pd.DataFrame(columns=['title', 'author', 'price', 'genre'])

# 각 요소를 Dataframe에 추가
for element in elements:
  row = {
      'title' : element.find('title').text,
      'author': element.find('author').text,
      'price' : float(element.find('price').text),
      'genre' :element.find('genre').text,
  }

  # Corrected indentation: This line should be indented at the same level as the 'row' assignment
  new_df = pd.DataFrame([row], columns=df.columns)
  df = pd.concat([df, new_df], ignore_index=True)

#Dataframe 정보 출력
print(df.info())

# DataFrame 확인
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3 non-null      object
 1   author  3 non-null      object
 2   price   3 non-null      float64
 3   genre   3 non-null      object
dtypes: float64(1), object(3)
memory usage: 228.0+ bytes
None
                   title          author  price    genre
0    Pride and Prejudice     Jane Austen  19.99  romance
1  To Kill a Mockingbird      Harper Lee  14.99  fiction
2  The Lord of the Rings  J.R.R. Tolkien  34.99  fantasy

<ipython-input-1-90858934c1f4>:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)

In [2]:
import pandas as pd
import json

# JSON 파일 읽기

json_file_path = "/data/jsonData/productjson"

with open('product.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

# DataFrame으로 변환
df = pd.DataFrame(data)

# DataFrame 확인
print(df.info())

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3 non-null      int64
 1   name      3 non-null      object
 2   price     3 non-null      int64
 3   brand     3 non-null      object
 4   category  3 non-null      object
dtypes: int64(2), object(3)
memory usage: 252.0+ bytes
None
    id               name    price    brand category
0  101  iPhone 13 Pro Max  1299000    Apple     스마트폰
1  102   Galaxy S22 Ultra  1199000  Samsung     스마트폰
2  103         LG Gram 17  1999000       LG      노트북